node_modules/
.env
tmp/**
public/generated/**
!public/generated/.gitkeep

.venv/
.venv310/

# SadTalker model/data exclusions
SadTalker/checkpoints/
SadTalker/examples/driven_audio/
SadTalker/examples/source_image/
generated/
*.mp4
*.pth
*.safetensors
*.mat
*.txt
*.wav
*.bat
*.sh
__pycache__/
.DS_Store

.venv/
.venv310/

